<h1>실습</h1>

<form action="/post/create" method="post"></form>

제목 : <input type="text" name = "name"><br>
내용 : <input type="text" name = "content">
<a href="/post/create"> 제출</a><br>

<% @users.each do |user| %>
 <%= user.name %><br>
 <%= user.content %><br>
<% end %><br>
-----------------------------------------------------------